*{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-stretch: condensed;
    letter-spacing: -0.06em;
}

body{
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px 100px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    position: relative;
}
header .logo{
    height: 120px;
    margin-right: 100px;
}
header .logo img{
    height: 100%;
}
header menu{
    width: 50%;
    box-sizing: border-box;
}
header menu .main_menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header menu .main_menu li a{
    text-decoration: none;
    color: inherit;
}
header .sub_menu{
    width: 276.84px;
    height: 442px;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px gray;
    border-radius: 0 0 20px 20px;
    padding: 15px 30px 30px 30px;
    background-color: #d9d9d9;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 15.33px;
    display: none;
}
header .sub_menu li a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
header .sub_menu li a .icon{
    width: 30px;
    margin-right: 15px;
}
header .sub_menu li a .icon img{
    width: 100%;
}
header .sub_menu li a span{
    font-size: 0.5em;
    padding-top: 1em;
}

main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #d9d9d9;
    display: none;
}

.show{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #d9d9d9;
}