main .main_title{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 30px 0;
    position: sticky;
    top: 11.802%;
    box-sizing: border-box;
    z-index: 1;
    background-color: #d9d9d9;
}
main .main_title .portfolio_title{
    display: flex;
    align-items: end;
}
main .main_title .portfolio_title .title_icon{
    width: 2.5em;
    margin-right: 20px;
}

main .main_title .search{
    width: 50%;
    height: 2.5em;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 0.525em 0.75em;
}
main .main_title .search form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main_title .search input{
    width: 100%;
    border: none;
    outline: none;
    margin-right: 15px;
    background-color: #d9d9d9;
}

main .main_title .search input::-webkit-input-placeholder{
    color: white;
    font-size: 16px;
}
main .main_title .search input::-moz-placeholder{
    color: white;
    font-size: 16px;
}
main .main_title .search input:-ms-input-placeholder{
    color: white;
    font-size: 16px;
}
main .main_title .search input::placeholder{
    color: white;
    font-size: 16px;
}

main .main_title .search a .search_icon{
    height: 1.25em;
}

main .e-book{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
    position: relative;
}
main .e-book .ai{
    width: calc((100% - (30px * 1)) / 2);
    aspect-ratio: 1 / 1.41423906505113;
    border: 1px solid gray;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

main .e-book .ai.ai_r{
    width: calc((((100% - (30px * 1)) / 2) * 2) + 30px);
}

main .e-book .ai img{
    width: 100%;
}
main .e-book .ai .title_hover{
    width: 100%;
    height: 50%;
    background-color: white;
    background-image: url(../../../img/Portfolio/Illustrator/Illustrator_opacity30.png);
    background-size: 100%;
    box-sizing: border-box;
    padding: 7.5%;
    transition: 0.5s;
    position: absolute;
    bottom: -50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .e-book .ai.ai_r .title_hover{
    right: 0;
}

main .e-book .ai.active .title_hover{
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
}
main .e-book .ai .title_hover .p_title{
    text-align: center;
    margin-bottom: 3.5%;
    white-space: nowrap;
    overflow: hidden;
}
main .e-book .ai .title_hover .p_title span{
    display: inline-block;
}
main .e-book .ai .title_hover .p_title span.scroll{
    animation: scroll-left 7s linear infinite;
}
main .e-book .ai .title_hover .content{
    display: flex;
    white-space: nowrap;
    gap: 5px;
}
main .e-book .ai .title_hover .content .label{
    color: blueviolet;
    text-align: center;
}
main .e-book .ai .title_hover .content .label span{
    letter-spacing: 0.8em;
}
main .e-book .ai .title_hover .content .colon{
    color: blueviolet;
}
main .e-book .ai .title_hover .content .value{
    width: 100%;
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
main .e-book .ai .title_hover .content .value .s_value{
    display: inline-block;
}
main .e-book .ai .title_hover .content .value .s_value.scroll{
    animation: scroll-left 4s linear infinite;
}

@keyframes scroll-left{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}