*{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-stretch: condensed;
    letter-spacing: -0.06em;
}

body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

#e-book_title{
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#e-book_title .e-book_title{
    display: block;
}
#e-book_title .e-book_title .e-book_tp{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
#e-book_title .e-book_title .e-book_tp p span{
    margin: 0 4px;
}
#e-book_title img{
    width: 1em;
}

.fliphtml5{
    width: 100%;
}
.fliphtml5 iframe{
    width: calc(100% - 100px);
    height: 100vh;
    border: none;
    position: absolute;
    left: calc(0% + 50px);
}